{% extends 'base.html' %}

{% block content %}
{% if messages %}
    {% for message in messages %}
    <div {% if message.tags %} class="alert p-2 my-1 alert-{{ message.tags }}"{% endif %}>
        {{ message }}
    </div>
    {% endfor %}
{% endif %}
<div class="row mb-2">

<h1 class="h4">Les Factur de client: Mr . {{client}}</h1>
<div class="col-md-6"><a href="/order/create/{{client.id}}" class="btn btn-info">+ Nouveau factur</a></div>
<div class="col-md-6 ">
  <form action="/order/list" method="POST" class="d-flex">
    {% csrf_token %}
    <input type="search" name="search" class="form-control rounded-pill" placeholder="Chercher..." id="search"> 
    <input type="submit" value="Chercher" class="btn btn-success rounded-pill mx-2">
  </form>
</div>
</div>
<table class="table table-striped">
      {% if orders %}
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">NB Produits</th>
          <th scope="col">Total</th>
          <th scope="col">Date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      {% endif %}
        {% for order in orders  %}
        {% if order.product.count > 0 %}
        <tr>
            <th scope="row">{{ order.id }}</th>
            <td>{{order.product.count}} </td>
            <td><strong>{{order.total}}</strong> DH</td>
            <td>{{order.date|date:"d-m-y"}} </td>
            <td>
              <a href="/order/delete/{{order.id}}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer order')" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
              <a href="/order/update/{{order.id}}" class="btn btn-sm btn-success"><i class="bi bi-eye"></i></a>
              <a href="/factur/{{order.id}}" class="btn btn-sm btn-info"><i class="bi bi-printer"></i></a>

            </td>
          </tr>
          {% endif %}
        {% empty %}
        <h3 class="p-5 text-center">No order</h3>
        {% endfor %}

      </tbody>
  </table>
  <div class="pagination">
    <span class="step-links w-100 text-center">
        {% if orders.has_previous %}
            <!-- <a href="?page=1">&laquo; first</a> -->
            <a class="btn btn-info rounded-pill btn-sm w-25" href="?page={{ orders.previous_page_number }}">←</a>
        {% endif %}
        {% if orders.has_next %}
            <a class="btn btn-info rounded-pill btn-sm w-25" href="?page={{ orders.next_page_number }}">→</a>
            <!-- <a href="?page={{ orders.paginator.num_pages }}">last &raquo;</a> -->
        {% endif %}
    </span>
</div>


{% endblock content %}