{% extends 'base.html' %}



{% block content %}

<div class="row justify-content-center">
    <div class="col-md-8 card py-3">
        <h1 class="h4">Éditer client ({{client.full_name}})</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
                <label for="id_full_name">Nom et prénom:</label>
                <input class="form-control" value="{{client.full_name}}" placeholder="Nom et prénom..." type="text" name="full_name" maxlength="300" required="" id="id_full_name">
                <label for="id_avatart">Photo:</label>
                <input class="form-control" placeholder="Photo..." type="file" name="avatar" accept="image/*" id="id_avatart">
                {% if client.avatar %}
                <a href="{{client.avatar.url}}" target="_blank">{{client.avatar.url}}</a>
                {% endif  %}
                <label for="id_phone">Téléphoner:</label>
                <input class="form-control" value="{{client.phone}}" placeholder="Téléphoner..." type="text" name="phone" maxlength="20" id="id_phone">
                <label for="id_address">Adresse:</label>
                <input class="form-control" value="{{client.address}}" placeholder="Adresse..." type="text" name="address" maxlength="200" id="id_address">
                <label for="id_email">E-mail:</label>
                <input class="form-control" value="{{client.email}}" placeholder="E-mail..." type="email" name="email" maxlength="254" id="id_email">
            <button class="btn btn-success w-100 mt-2">Éditer</button>
        </form>
    </div>
</div>
{% endblock content %}