{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/books.css'%}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
        <h1 class="h4">Changer Mot de passe</h1>
        <div class=' pt-0'>
            <form action="" method="POST">
                {% csrf_token %}
                <label class="p-0" for="id_old_password" >{% trans 'Mot de passe actuel' %}</label><br>
                {% if form.old_password.errors %}
                <span class="helptext text-danger">{% trans "L'ancien mot de passe est incorrect." %}</span>
                {% endif %}
                <input type="password" class="form-control" name="old_password" autocomplete="current-password" autofocus required id="id_old_password"><br>
                <label class="p-0" for="id_new_password1">{% trans 'Nouveau mot de passe' %}</label><br>
                <input type="password" class="form-control" name="new_password1" autocomplete="new-password" required id="id_new_password1"><br>
                <span class="helptext"></span>
                <label class="p-0" for="id_new_password2">{% trans 'Confirmation du nouveau mot de passe' %}</label><br>
                {% if form.new_password2.errors %}
                <span class="helptext text-red">{% trans 'Le mot de passe ne correspond pas.' %}</span>
                {% endif %}
                <input type="password" class="form-control" name="new_password2" autocomplete="new-password" required id="id_new_password2"><br>
                <button type="submit" class="btn btn-success mt-3 w-25">{% trans 'Change' %}</button>
            </form>
            <br>
            <div>
                <ul>
                    <li> {% trans 'Votre mot de passe ne doit pas être trop similaire à vos autres informations personnelles.' %} </li>
                    <li> {% trans 'Votre mot de passe doit contenir au moins 8 caractères.' %} </li>
                    <li> {% trans 'Votre mot de passe ne peut pas être un mot de passe couramment utilisé' %} </li>
                    <li> {% trans 'Votre mot de passe ne peut pas être entièrement numérique.' %} </li>
                </ul>
    
            </div>
        </div>
    </div>
  </div>
{% endblock %}



